doctype html 
html 
  head 
    title YASHD v0.00 - API Server 
    link(rel="stylesheet", type="text/css", href="/api.css")
  body 
    div.box
      div.title YASHD v0.00 - API Server 
      div.msg You likely wanted the app. It is at port 5173.
      div.button
        a(href="http://localhost:5173") Take me there